<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Inventory</ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <button menuClose ion-item (click)="logout()">Logout</button>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>
  
  <h3 class="no-item" text-center *ngIf="items.length === 0">
    There are currently no Inventories created
  </h3>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <button ion-item (click)="inventorySelect(item._id, item)">
        <h2>{{item.name}}</h2>
        <p>{{item.quantity}}</p>
      </button>
      <ion-item-options>
        <button ion-button (click)="editItem(item, item._id)" color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button ion-button (click)="shareItem(item, item._id)" color="light" icon-start>
          <ion-icon name="share"></ion-icon>
          Share
        </button>

        <button ion-button (click)="removeItem(item, item._id)" color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
